<div class="ekart--product--details--info scroll" *ngIf="product">
    <div class="ekart-product-detail-close">
        <i class="fa fa-times" aria-hidden="true" (click)="onClickedClose()">x</i>
    </div>
    <div class="ekart-product-detail-image">
        <img src="https://images.vans.com/is/image/Vans/MV122M-HERO?$583x583$" class="ekart-product-detail-image">
    </div>
    
    <div class="ekart-product-detail">
        <div class="ekart-product-detail-name">
            <h2>{{product.name}}</h2>
        </div>
        <div class="ekart-product-detail-gbc">
            <span CustomPills>MEN</span>
            <span CustomPills>NIKE</span>
            <span CustomPills>SPORTS</span>
        </div>
        <div class="ekart-product-detail-price">
            <p>
                <b>Price Each Pair:</b>
                <span style="background-color: red; color:white"><s>$699</s></span>
                <span style="background-color: green; color:white">$599</span> (Inclusive of all taxes)
            </p>
        </div>
        <div class="ekart-product-detail-size">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Available Size</h4>
            </div>
        <!-- <diV style="margin-top: 20px">
            <span class="ekart-product-detail-available-size">6</span>
            <span class="ekart-product-detail-available-size" [highlighted]>7</span>
            <span class="ekart-product-detail-available-size" [highlighted] [textColor]="'black'">8</span>
            <span class="ekart-product-detail-available-size" [highlighted]="'red'">9</span>
        </diV>        -->
            <diV style="margin-top: 20px">
                <span class="ekart-product-detail-available-size" [highlighted]="{bgColor: 'red', color: 'white'}">6</span>
                <span class="ekart-product-detail-available-size" [highlighted]="{bgColor: 'purple', color: 'white'}">7</span>
                <span class="ekart-product-detail-available-size" [highlighted]>8</span>
                <span class="ekart-product-detail-available-size" >9</span>
            </diV>           
        </div>

        <div class="ekart-product-detail-color">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Available Color</h4>
            </div>
            <diV style="margin-top: 20px;">
                <span class="ekart-product-detail-available-color" style="background-color: red;"></span>
                <span class="ekart-product-detail-available-color" style="background-color: green;"></span>
                <span class="ekart-product-detail-available-color" style="background-color: black;"></span>
                <span class="ekart-product-detail-available-color" style="background-color: blue;"></span>
            </diV>                
        </div>

        <div class="ekart-product-detail-desc">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Product Description</h4>
            </div>
            <div style="margin-top: 20px">
                <p>DESCRIPTION</p>
            </div>                
        </div>
    </div>
    <div class="ekart-product-detail-addtoCart">
        <button class="btn-add-to-cart">ADD TO CART</button>
    </div>
</div>
<div class="overlay" *ngIf="product"></div>