<div class="container my-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card card-bg">
          <div class="card-header">
            <h5 class="card-title text-center">About Me</h5>
          </div>
          <div class="card-body">
            <img src="https://via.placeholder.com/150" class="img-fluid rounded-circle mx-auto d-block" alt="Person Image">
            <h5 class="card-title text-center mt-3">John Doe</h5>
            <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac aliquam elit, et consectetur libero. Integer eget feugiat magna.</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Email:</strong> johnexample.com</li>
              <li class="list-group-item"><strong>Phone:</strong> +1234567890</li>
              <li class="list-group-item"><strong>Location:</strong> City, Country</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  