<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-responsive table-striped table-hover m-5">
            <thead class="">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Gender</th>
                <th>Color</th>
                <th>Stock Available</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.discount }}</td>
                <td>{{ product.gender }}</td>
                <td>{{ product.color }}</td>
                <td>{{ product.stockAvailable ? 'Yes' : 'No' }}</td>
                <td>
                  <button class="btn btn-primary" (click)="deleteProduct(product)">Edit</button>
                  <button class="btn btn-danger" (click)="deleteProduct(product)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<!-- <app-confirmation></app-confirmation> -->

<!-- <app-confirmation *ngIf="showConfirmationModal" (closeModal)="closeConfirmationModal()"></app-confirmation> -->

  