
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #e5eff8;
    padding: 20px;
    border-radius: 6px;
}

.left-content {
    text-align: right;
    margin-right: 20px;
}

.right-content {
    text-align: left;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}

.svg-icon {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    transform: rotate(270deg); /* Rotate the SVG image */
}
